parameters:
  fileExtensions:
    - inc
    - install
    - module
    - php
    - theme
  level: 5
  scanDirectories:
    - ../../../core/lib
    - ../../../core/includes
    - ../../../core/modules
  ignoreErrors:
    - '#^Access to an undefined property Drupal\\node\\NodeInterface::#'
